body {
    margin: 0;
    padding: 0;
    font-family: "consolas", sans-serif;
    font-size: 1.3em;
}
.datatable {
    width: 50%;
    word-wrap: break-all;
    border-collapse: collapse;
}
.datatable tr {
    background: whitesmoke;
}
.datatable tr:nth-child(even) {
    background: silver;
}
.datatable tr:hover {
    background: greenyellow;
}
.datatable td, .datatable th {
    border: 3px solid gray;
}
.datatable td.key, .datatable th.key {
    text-align: right;
    vertical-align: top;
}
.datatable td.value, .datatable th.value  {
    text-align: left;
    font-weight: bold;
}
.datatable th {
    background: linear-gradient(white, silver);
}